@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-height: 100vh;
}

.sertificate {
    /* border: 2px solid gold; */
    padding: 50px;
    position: relative;
    /* background: #fff; */
    max-height: 90vh;
}

.content {
    position: relative;
    z-index: 2;
    text-align: center;
    top: 250px;
}

.recipient-name {
    font-size: 28px;
    margin: 20px 0;
    text-decoration: underline;
}

.signatures {
    display: flex;
    justify-content: space-between;
    /* padding: 0 100px; */
}

.signature-block {
    width: 200px;
    border-top: 1px solid #000;
}

.signatures > .signature-block:first-child {
    margin: 10px 0 0 45px;
}

.signatures > .signature-block:last-child {
    margin: 30px 50px 0 0;
}

.print-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 100;
}

.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: #4CAF50;
    font-weight: 800;
    cursor: pointer;
    z-index: 100;
}

.background-image {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.background-image img {
    width: 100%;
    height: 99%;
    object-fit: cover;
}

@media print {
    @page {
        size: A4 landscape;
    }

    body {
        margin: 1.5cm;
    }

    .print-button, .back-button {
        display: none;
    }

    .sertificate {
        /* border: none; */
        /* padding: 0; */
        /* min-height: auto; */
        /* background: url("./../img/ser_bg.png"); */
    }

    .content {
        top: 85px;
    }

    .signatures {
        gap: 230px;
    }

    .signature-block {
        margin-left: -150px;
    }

    /* .background-image {
        display: block !important;
        opacity: 1;
    } */
}